In [1]:
# mean (using stat)

import statistics as st

In [2]:
x=[10,20,30,40,35,40,40,50,50,50,50,45,50,60,70,80]

print(st.mean(x))

45

In [3]:
# using pandas 
# import pandas as pd
# x_ = pd.DataFrame(x)
# print(x_.mean)

In [4]:
#
print(st.median(x))

47.5

In [5]:
#
print(st.mode(x))

50

In [6]:
# 5 user of variable: dependent and independent variable

In [7]:
# 6 type of variable : continue and categorical variable

# type of variable
# 1 Numerical
# 1)=continues
      # 1 age
      # 2 marks
# 2)=Discrete
     # 1 shoe size
     # 2 Rank
        

# 2 Categorical (string)
# 1)=Oridinal
    # 1 rating
    # 2 education level
# 2)=Nominal
   # 1 Gender
   # 2 Brands

In [8]:
# Descriptive Statistics

 # 1) measure of centrl tendency (mean,median,mode)
 # 2) measure of disprsion (spread)(variance and standard deviation)

In [9]:
# measure of dispersion

# formula copy me hao

In [10]:
# x=data, mu=mean, N= occurance

In [11]:
import numpy as np

In [12]:
x=[20,34,56]

avg=np.mean(x)
print(avg)

36.666666666666664

In [15]:
np.sum((np.square(20 - avg)+ np.square(34 - avg)+np.square(56 - avg))/3)

219.55555555555557

In [16]:
#
import numpy as np
# variance = mean of square diviation (below)

print('variance -',np.var(x))

# std = sqrt of variance

print('std.DV -',np.std(x))

variance - 219.55555555555557
std.DV - 14.817407180595247

In [17]:
# Table 1. comparison of sample statistics and population parameters

# Sample statistics
# population parameters

In [19]:
# 
import pandas as pd
# Quantiles
y=[10,20,30,40,50,60,70,80]

y_=pd.DataFrame(y)

In [21]:
y_.describe()

               0
count   8.000000
mean   45.000000
std    24.494897
min    10.000000
25%    27.500000
50%    45.000000
75%    62.500000
max    80.000000

In [22]:
# inter Quantiles
# Q3 - Q1

iqr=62.50-27.50
print(iqr)

35.0

In [23]:
# Quantile Range
# max - min
max=80
min=10
print(max-min)

70

In [24]:
# IQrange

iqr

35.0

In [31]:
# type of distribution

# 1 = Normal distribution = mean is zero(0) and standard deviation is one(1) ex= ek point me jada hota ha 1,2,3,4,3,2,1,

# 2 = Bernoulli distribution = toss 1('success') and 0('failure')

# formula = p^x(1 - p)^1-x

# ex = p= probability of success
#     (1-p) = probability of failure
#     NO of Trial = one 1)success(p)
#                        2) failure(1-p)

In [29]:
# ex- formula p(1) = p^1(1-p)^1-1
# ex 2 formula p(0)= p^0(1-p)^1-0

In [33]:
# 3 Binomial distribution = same as it 2) Bernoulli distribution

# 4 Uniform distribution = outcome are eually likely

In [34]:
# * Inferential statistics = sample lena data se ex= exit poll news tv

In [ ]:
# * Central limit therom = 1) normal distribution
#                          @)