# 2.ANOVA (Analysis of Variance)

# ANOVA is used to compare differt of mean among than 2 group . it does this  by looking at variation in the data and where that
#   varitation is found (hence its name ). specifically anova compares the       amount of vartation between group with the amount of
#  varitaton within groups

# 1) Null hypothesis,typically is that all mean are equal.
# 2) The independent variales are categorical 
# 3) Dependent variables are continues

# F value

# F = Sample mean of between group / sample mean of within group

# Realtime research on human body -
# 
# IF differnt type of drinks (Coffee, water, milk, soda etc) have the same effect (reaction time in the moring on human body or not)

# 1) Null Hypothesis -- All the drink average reaction time on humany body is same
# 2) Alternate Hypothesis -- All the drink average reaction time on human body is not same

In [2]:
#

# * Hypothesis Construction
#
# the Null hypothesis for ANOVA says that average of dependent variable are same for all the given group
# Alternate hypothesis says mean of dependent variabe are not same for the given group
#
# - Ho : Mu A = MUB = MUC
# - Ha : Not All are equal

In [3]:
# stwp 1 ) calculate the means of each semester 
# step 2) calculate the group mean 
# step 3) calculate between , within 
# step 4) calculate the mean square varience of between and within
# step 5) calculate F statistics and corrospanding P-value

In [4]:
import pandas as pd

In [5]:
hyp = pd.read_csv('Semester marks.csv')
hyp

     Student_ID  Semester  Total_Marks
0             1         1          365
1             2         3          376
2             3         1          411
3             4         3          436
4             5         2          366
..          ...       ...          ...
195         196         1          431
196         197         3          330
197         198         1          311
198         199         1          358
199         200         2          468

[200 rows x 3 columns]

# As per ANOVA we need to find continues data based on the categorical variable
# * Total_marks is continue variable and 
# * Semester is categorical variable

# Ho is average marks of each semester are alomost equal
# Ha is all are not equal

In [6]:
import numpy as np
import statsmodels.formula.api as sm

In [8]:
mod = sm.ols("Total_Marks ~ Semester", data=hyp).fit()
mod

# ols = ordinary least squares

In [9]:
import statsmodels.api as k

In [10]:
aov_table = k.stats.anova_lm(mod, typ=1)
aov_table

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

# Lets see manually if that average marks of each semester are colse to each other

In [12]:
# semester 1 Average marks
print(" 1st sem avg marks =", np.ceil(hyp['Total_Marks'][hyp['Semester']==1].mean()))

# semester 2 Average marks
print("2nd sem avg marks =", np.ceil(hyp['Total_Marks'][hyp['Semester']==2].mean()))

# semester 2 Average marks
print("3rd sem avg marks =", np.ceil(hyp['Total_Marks'][hyp['Semester']==3].mean()))

 1st sem avg marks = 403.0
2nd sem avg marks = 393.0
3rd sem avg marks = 406.0