# Statistical Tools

# 1) ttest or Student ttest
# 2) ANOVA
# 3) Chi-Square

# * 1) ttest

# * One sample ttest
# * Two sample ttest

In [2]:
# Conduct ttest when standard deviation is not knows

In [4]:
import pandas as pd
hyp=pd.read_csv('Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

# A teacher want to teach students for a competative exam. she collected sample of student marks from differnt school. and based on her past experience she believes that. there type of student will score more than 60 marks in the exams . now she want to conduct hypothesis test on the marks

# * Ho = Mu > = 60
# * Ha = Mu < 60

In [6]:
hyp['Math1'].mean()

52.645

In [12]:
alpha = .05
xbar = 52.645
mu = 60

# alpha = .05
# xbar = 52.645
# Mu = 60

# * One sample ttest

In [13]:
import scipy.stats as st

# since we are conducting test for one sample we will go 1 samle ttest

In [14]:
st.ttest_1samp(hyp.Math1,mu)

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

# when you run ttest , we get 2 value 1. t.statictis score and 2 . pvalue for two tail

# pvalue /2

# lets write this way

In [15]:
s,p = st.ttest_1samp(hyp.Math1,mu)

In [16]:
s

-11.102736525713398

In [17]:
p

1.3339158110547646e-22

In [18]:
# s= stats
# p = pvalue

# * Two sample ttest

# independent sample
# paired sample

In [19]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

# * independent sample

In [20]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

# * How to subset the data on Gender

In [21]:
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

# * independent sample

In [22]:
t,p = st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)

In [23]:
p

0.6800544974232143

# alpha 0.680 < 0.05  X failed

In [25]:
# we failed to reject Ho

# Paired sample / Relational sample

In [26]:
t,p = st.ttest_rel(hyp.Math1,hyp.Math2)

In [27]:
p

0.17676525605507354

# aplha 0.17 < 0.05 X failed

In [28]:
# we failed to reject Ho

# ttest me ship 5% error allowed hota hai 
# ttest 5% se jada hua to 
# ANOVA Test